<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concurso de Pintxos Bilbao 2025</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@400;700&display=swap" rel="stylesheet">
</head>
<footer>
    <nav class="navbar">
        <div class="logo">Concurso Pintxos Bilbao</div>
        <ul class="nav-links">
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#bases">Bases del Concurso</a></li>
            <li><a href="#bares">Bares Participantes</a></li>
            <li><a href="#votar">Votar</a></li>
            <li><a href="#premios">Premios</a></li>
            <li><a href="/ver-votos">Votos</a></li>
              <li><a href="/ranking-pintxos">Clasificaciones</a></li>
        </ul>
    </nav>

    <header class="hero">
        <div class="hero-content">
            <h1>Concurso de Pintxos Bilbao 2025</h1>
            <p>¡Descubre los mejores pintxos de la ciudad!</p>
            <a href="#bases" class="cta-button">Más Información</a>
        </div>
    </header>

    <section id="bases" class="section">
        <h2>Bases del Concurso</h2>
        <div class="bases-container">
            <div class="bases-image">
                <img src="{{ url_for('static', filename='images/cartel.png') }}" alt="Bases del Concurso" class="base-image">
            </div>
            <div class="bases-info">
                <p>El Concurso de Pintxos del Casco Viejo de Bilbao está dirigido exclusivamente a los bares de la zona.
                Si tienes un bar en estas emblemáticas calles y te apasiona la cocina en miniatura, este es tu momento para demostrar tu creatividad y sabor. 
                <br><h4><b><i>¡Haz que tu barra brille! </i></b></h4>
                </p>
                <p><u>Fechas:</u>
                    <br>El concurso se celebrará del 5 al 25 de octubre de 2025. Los establecimientos participantes presentarán un único pintxo por categoria. Un jurado profesional y el público elegirán los mejores pintxos.</p>
                <p><u>Condiciones del concurso:</u>
                    <br>
                    Cada bar podrá presentar un pintxo por categoría, elaborado expresamente para el concurso.
                <br>Los pintxos deben servirse en formato individual, listos para consumir de un bocado o con utensilio. 
                <br>Se valorará la presentación, el sabor, la creatividad y el uso de productos de calidad.</p>
                <p><u>Premios:</u>
                    <br>Los ganadores de cada categoría recibirán un reconocimiento especial, además de un premio que destaca su talento y dedicación.
                    Además del trofeo acreditativo, su pintxo será promocionado en canales oficiales, obteniendo visibilidad en medios locales y redes sociales.
                </p>
                <button class="btn btn-primary" onclick="window.location.href='#votar'">¡Vota por tu Pintxo Favorito!</button>
            </div>
        </div>
    </section>

    <section id="bares" class="section">
        <h2>Bares Participantes</h2>
        <div class="bar-grid">
            {% if bares %}
                {% for bar in bares %}
                    <div class="bar-card">
                        <h3>{{ bar.nombre_bar }}</h3>
                        <img src="{{ url_for('static', filename=logos.get(bar.nombre_bar, 'images/default.jpg')) }}" 
                        alt="{{ bar.nombre_bar }}" 
                        class="bar-image"
                        data-full="{{ url_for('static', filename=imagenes_popup.get(bar.nombre_bar, 'images/collage/default.jpg')) }}">
                        <p>{{ bar.direccion }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay bares participantes registrados por el momento.</p>
            {% endif %}
        </div>
    </section>    

    <section id="votar" class="section">
        <h2>Vota por tu Pintxo Favorito</h2>
        <p>¡Elige el mejor pintxo y participa en el sorteo!</p>
    
<form action="{{ url_for('main.procesar_voto_ruta') }}" method="post">
    {{ form.hidden_tag() }} <div>
        {{ form.nombre_votante.label }}<br>
        {{ form.nombre_votante(id="nombre_votante", placeholder="Escribe tu nombre completo") }}<br>
        {% for error in form.nombre_votante.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <div>
        {{ form.email_votante.label }}<br>
        {{ form.email_votante(id="email_votante", placeholder="tu.email@ejemplo.com") }}<br>
        {% for error in form.email_votante.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <div>
        {{ form.categoria_id.label }}<br>
        {{ form.categoria_id(id="categoria_id") }}<br> 
        {% for error in form.categoria_id.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>

    <div>
        {{ form.bar_id.label }}<br>
        {{ form.bar_id(id="bar_id") }}<br>
        {% for error in form.bar_id.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    
    <div>
        {{ form.submit() }}
    </div>
</form>
         {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
           <div class="flash-messages">
             {% for category, message in messages %}
               <div class="alert alert-{{ category }}">{{ message }}</div>
             {% endfor %}
           </div>
         {% endif %}
       {% endwith %}
        <p>Recuerda que solo puedes votar una vez por categoría.</p>
    </section>

          <section id="premios" class="section">
        <h2>Premios del Concurso</h2>
        <p class="section-intro">Estos son los reconocimientos que otorgaremos a los mejores pintxos en cada categoría.</p>
        
        <div class="premios-grid">
            <div class="premio-card">
                <h3>Mejor Pintxo Creativo/Innovador</h3>
                <img src="{{ url_for('static', filename='images/pintxos/creativo.jpg') }}" alt="Pintxo Creativo" class="pintxo-image">
            </div>
            <div class="premio-card">
                <h3>Mejor Pintxo de Tortilla</h3>
                <img src="{{ url_for('static', filename='images/pintxos/tortilla.jpg') }}" alt="Pintxo de Tortilla" class="pintxo-image">
            </div>
            <div class="premio-card">
                <h3>Mejor Pintxo de Bacalao</h3>
                <img src="{{ url_for('static', filename='images/pintxos/bakalao.jpeg') }}" alt="Pintxo de Bacalao" class="pintxo-image">
            </div>
            <div class="premio-card">
                <h3>Mejor Pintxo de Gilda</h3>
                <img src="{{ url_for('static', filename='images/pintxos/gilda.jpeg') }}" alt="Pintxo de Gilda" class="pintxo-image">
            </div>
            <div class="premio-card">
                <h3>Mejor Pintxo Vegano</h3>
                <img src="{{ url_for('static', filename='images/pintxos/vegano.jpg') }}" alt="Pintxo Vegano" class="pintxo-image">
            </div>
            <div class="premio-card">
                <h3>Mejor Pintxo de Rabas</h3>
                <img src="{{ url_for('static', filename='images/pintxos/rabas.webp') }}" alt="Pintxo de Rabas" class="pintxo-image">
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Concurso de Pintxos Bilbao</p>
    </footer>

    <div id="imageModal" class="modal" style="display: none;">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg">
    </div>
</footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const modal = document.getElementById("imageModal");
          const modalImg = document.getElementById("modalImg");
          const closeBtn = document.getElementsByClassName("close")[0];
        
          document.querySelectorAll(".bar-image").forEach(img => {
            img.addEventListener("click", function () {
              const fullImage = this.getAttribute("data-full");
              modalImg.src = fullImage;
              modal.style.display = "block";
            });
          });
        
          closeBtn.onclick = function () {
            modal.style.display = "none";
          };
        
          window.onclick = function (event) {
            if (event.target === modal) {
              modal.style.display = "none";
            }
          };
        });
        </script>
        
</body> 
</html>